extends ../layouts/application.pug

block main-content
    br
    div.container-fluid
        div.container.col-xs-6
            form(method="post", action="/signin", id="registration")
                div.form-group
                    label(for="name") Username
                    div.input-group
                        span.input-group-addon#basic-addon1 @
                        input.form-control(id="name", name="name" placeholder="Enter your Github username" autocomplete="off", aria-describedby="basic-addon1")
                    br
                    label(for="password") Password
                    input.form-control(id="password", name="password", type="password", placeholder="Create your password")
                    br
                    input.btn.btn-primary(type="submit")
                    a.btn.btn-primary.space(type="button", href="/register") Sign up