extends ../layouts/application.pug
block main
    br
    div.container-fluid
        div.container.col-xs-6
            form(method="POST", action="/signin", id="registration")
                div.form-group
                    label(for="name") Username
                    input.form-control(id="name", name="name" placeholder="Enter your Name" autocomplete="off")
                    br
                    label(for="password") Password
                    input.form-control(id="password", name="password", type="password", placeholder="Create your password")
                    //- input(id="Password2", name="password2", type="password", placeholder="Retype your password")
                    br
                    input.btn.btn-primary(type="submit") 

                    a.btn.btn-primary.space(type="button", href="/register") Sign up