extends ../layouts/application.pug
block main
  //- - object = {name:"Hello World"}
  div.container-fluid
    br
    div.panel.panel-default
      div.panel-heading 
        p Current Users Index: ##TODO add search bar lol
        br
        each user in users
          a.list-group-item(href=("/users/"+user.Name))= user.Name