// code
$transblack: rgba( 0, 0, 0, .4);
main {
  padding-top: 35px; 
}

.Avatar{

  width: 120px;
  height: 120px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  border: 1px solid rgba(0,0,0,0.3);
  cursor: pointer;
  .Name{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: violet;
    margin-top: 6px;
  }
}

.card-img-top{
    display: block;
    
  img {
    width: 100%;
    height: auto !important;
    margin-bottom: 25px;
    
  }
}

.box{
  display: flex;
  flex-direction: column;
  position: relative;
  transition: top 100ms linear;
  ul{
  }
}

.adminControls {
  padding: 5px;
  border-top: 1px solid $transblack;
  border-bottom: 1px solid $transblack;
}
.btn-social{
  padding: 5px;
  border-top: 1px solid $transblack;
  border-bottom: 1px solid $transblack;

}
.highlighted {
  &::after {
    content: '';
    background: transparent;
    transition: all .1s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  &:hover {
    position: relative;
      &::after {
        background-color: rgba(255, 255, 255, .3);
      }
    }
  }
.sugestions{
    margin-top: -15px;
}
#cards {
  padding-bottom: 20px;
    a{
      
     &:hover {
        text-decoration: none;
      }
    }
}
.card{
    // min-height: 15em!important;
    display: flex!important;
    flex-direction: column;
    border: none;
}


.card-block{
    flex-grow: 1;
}

.card-title {
  margin-bottom: 0; 
}


.card-title{
    color: Black;
    font-weight: 600;
    font-size: 1.4em;
    // background: rgba(0,0,0,0.5);
    // background: linear-gradient(to top, rgba(0,0,0,0.9),rgba(0,0,0,0.0));
    padding-left: 0.5em;
    width: 100%;
}

@media (max-width: 800px) {
  .sugestions{
    display: none;
  }
  .Avatar{
    height: 60px;
    width: 60px;
    flex-shrink: 0;
  }

  .box{
    background: white;
    z-index: 1;
    margin: -15px;
    flex-direction: column;
    flex-direction: row;
    p {
      font-size: 22.33px;
    }
  }
}