.urlShortener {
  margin-top: -50px;
  margin-bottom: 25px;
  .well {
    padding: 50px;
  }
  .clipBoard {
    cursor: pointer;
  }
}

.form-group {
  width: 100%!important;
}

.form-control {
  width: 80%!important;
}