script(src="//cdn.ckeditor.com/4.5.11/standard/ckeditor.js")
form(method='post', action="/posts", id="blogForm", enctype="multipart/form-data")
    div.form-group
        label(for="URL") Permalink
        input.form-control(id="URL", name="url", placeholder="PERMALINK...", autocomplete="off")
        br
        label.custom-file(for="file")
            input.form-control.custom-file-input(type="file", id="file", name="file")
            span.custom-file-control
        br
        label(for="title") Title
        input.form-control(id="title", name="title" placeholder="Enter Title" autocomplete="off")
        br
        label(for="body") Body
        textarea(name="body" id="bodyArea" rows="10" cols="80")
        br
        br 
        label(for="tags")
        input.form-control(id="tags", name="tags", placeholder="categories",data-role="tagsinput", autocomplete="off")
        br
        input.btn.btn-primary(type="submit") 
        
script.
    CKEDITOR.replace('body')