extends ../layouts/application.pug
block main
    div.container-fluid
        h1 Blog Index
        if blog
            each post in blog
                div.card
                    div.card-block
                        h4.card-title= post.Title
                        p.card-text!= post.Body
                        a.btn.btn-primary(href=("/users/"+post.URL)) Read More

        //- ul
            each post in blog
                li= JSON.stringify(post)