extends ./app/views/layouts/application

block main-content

    div.container-fluid
        div.row(style="padding-top:20px;margin-left:0.1em;margin-right:5em;")
            if .current_user
                if .current_user.Admin
                    div.pull-right
                        a.btn.btn-primary(href="/posts/new") New Post
            h1 Blog Index
        if .blog
             range .blog
                div.card
                    div.card-block
                        h4.card-title
                            time.h5: script document.write(new Date("{{formatPostTime .Time}}").toLocaleDateString())
                        p.Card-text: p= printf "Post Created by:  %s" .Author.Name
                        p.card-text= .Summary
                        div.controls
                            a.btn.btn-primary(href=/post/{{.URL}}) Read More
                                if .Author
                                    if .Author.Admin
                                        a.btn.btn-primary(href=/post/{{.URL}}/edit) EDIT
                                        a.btn.btn-primary(data-method="DELETE" href=/post/{{.URL}} confirmable="Are you sure you want to delete this post?") DELETE
