extends ../layouts/application.pug

block main
    div.container-fluid
        h1 blog post
        p= user.Name
        img.titleImage(src='/post/'+blog.URL+'/images/'+blog.BlogImage)
        p= blog.Title
        p!= blog.Body