extends ../layouts/application.pug

block main
    div.container-fluid
        h1 blog post
        p= author.Name
        img.titleImage(src='/post/'+blog.URL+'/images/'+blog.BlogImage)
        p= blog.Title
        p!= blog.Body
        if user && user.Admin
            a.btn.btn-primary(data-method="DELETE" href=('/post/'+blog.URL) confirmable="Are you sure you want to delete this post?") DELETE