$breakpoint-tablet: 767px;
$white: #fff;
$blue: #2780e3;
$red: #f44336;


.flash {
  left: 0;
  position: relative;
  top: 0;
  z-index: 9999;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding-top: 50px;
}

header{
  margin-bottom: 40px;
}

.jumbotron {
  align-items: center;
  background: $red;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 95vh;

  h1 {
    text-align: center;

    .lang {
      text-transform: uppercase;
    }
  }
}

.well {
  bottom: 0;
}

button {
  > i {
    color: $white;
  }
}

.space {
  margin-left: 15px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}


/*
 * Animation for webkit
*/
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}


// Adding the animation to our element

.bounce {
  animation-name: bounce;
}
// Resister stuff

.form-control-feedback {
  display: block;
  height: auto!important;
  line-height: inherit!important;
  pointer-events: none;
  position: relative!important;
  right: 0;
  text-align: initial!important;
  top: 0;
  width: auto!important; 
  z-index: 2;
}

span {
  .devicons {
    font-size: 10em;
  }
}

#searching {
  border: 0;
  color: $white;
  outline: 0;
  overflow: hidden;
  $transition: linear all .25s;
  transition: $transition;
  width: 12em;

  > input {
    background: transparent;
    border: 0;
    border-bottom: 2px solid white;
    color: $white;
    outline: 0;
    transition: $transition;

    &:focus {
      border-bottom-color: $blue;
      box-shadow: none;
      transition: $transition;
      }
    }
}

.card {
  max-width: 14em;
  // min-height: 20em;
  min-width: 14em;

  &:not(:first-of-type){
    margin-left: 1em;
    }

  .card-block {
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 12em;
    }
    }
}

#cards {
  display: flex;
  flex-wrap: wrap;

}

.shrinking{
  padding: 0;
  width: 0!important;
}

ul {
  li {
    form {
      display: flex;
        }
      }
    }
@media (max-width: $breakpoint-tablet) {
  ul {
    padding-left: 0!important;
    padding-top: 15px;

    li {
      form {
        flex-direction: row-reverse;
      }
  }
}

  #searching{
    width: 100%;
  }

  .shrinking {
    padding: initial;
    width: 100%;
    }
}