extends ../layouts/application.pug

block main-content

    .container-fluid
        .col-sm-3.lead(style='text-align:center;')
            .box
                .Avatar(style="background: url(/users/{{.user.Name}}/images/{{.user.Avatar}})center center no-repeat;background-size: cover;")
                
                div   
                    p.Name Gentry Rolofson
                    p.small.lead Software Engineer
                    p: a(href='https://github.com/{{.user.Name}}')
                        i.fa.fa-github-alt(aria-hidden="true")
            .box-vertical
                p.small.lead(style='color: black; text-align: center; padding-bottom: 5px;') Technologies
                    .skills
                        a(href='/posts?search=go&golang')
                            .skill Golang 
                        a(href='/posts?search=C%2B%2B') 
                            .skill C++
                        a(href='/posts?search=ruby&ruby%20on%20rails&rails')
                            .skill Ruby on Rails 
                        a(href='/posts?search=node&nodejs')
                            .skill Node JS
                        a(href='/posts?search=angular&angularJS') 
                            .skill Angular 2 
                        a(href='/posts?search=react') 
                            .skill ReactJS
                        a(href='/posts?search=Mongo') 
                            .skill MongoDB
                        a(href='/posts?search=typescript') 
                            .skill Typescript
                        a(href='/posts?search=bash') 
                            .skill Bash Scripting
                        a(href='/posts?search=aws') 
                            .skill AWS Cloud
        .col-sm-9
            p.lead Hello, I am the founder of #[a(href="https://bitdev.io") Bitdev.io ]
                | Bitdev.io utilize Google's Golang, Dart, and Ruby on Rails as backend technologies.  
                | Bitdev.io Builds on top of Amazon's web services and Google's AppEngine for a complete custom FullStack web Application.
            
            p.lead I am a web developer specialized in backend development, and work in frontend Development when necessary. My favorite language's are golang and Typescript, I hope to spread these technologies to everyone.
            P.lead No one takes data more seriously then I do, I have an extensive knowledge of more traditional database technologies such as mySQL, SQlite and PostgreSQL. I'm also very interested in NoSQL databases this, website's database is MongoDB which has an amazing driver for golang, mGO.
            br
            
