extends ../layouts/application.pug
block main
    //- - object = {name:"Hello World"}
    div.container-fluid
        h1= user.Name
        h2= user.Email
        if user == null
            a(href='/login') Sign in
        else
            a(href='/logout') Sign Out
            //- p= object.name
        
        ul
            - for(i in see)
                li= see[i]