extends ../layouts/application.pug
block main
    div.jumbotron
        h1.display-1
            b 
                span.lang 
            b DEVELOPER
        i.fa.fa-wa.fa-angle-double-down.fa-4x
    div.container-fluid
        h1 Gentry Rolofson
        div.container
            P console.log("Backend Powered by: Go version 1.7");
            p console.log("Frontend by: Bootstrap");
            P console.log("Templated by: Pug");
            P console.log("Styled by: SCSS");
            p console.log("Developed by: Gentry Rolofson");
            p console.log("Don't let your dreams be memes");
        form(method="POST", action="/register", id="registration")
            input(id="email",name="email", type="email", placeholder="Enter your email")
            input(id="name", name="name" placeholder="Enter your Name" autocomplete="off")
            input(id="password", name="password", type="password", placeholder="Create your password")
            //- input(id="Password2", name="password2", type="password", placeholder="Retype your password")
            input(type="submit")