extends ./app/views/layouts/application

block main-content
    link(rel='stylesheet' type="text/css" href='/static/assets/CSS/devicons.css')
    div.jumbotron
        h1.display-1
            b.lang
        span.devicons
        i.fa.fa-wa.fa-angle-double-down.fa-4x.animated.bounce#arrows
    div.container-fluid
        h1 Gentry Rolofson
        div#scrolled
            p.lead I am a web developer specialized in backend development, and work in frontend Development when necessary. My favorite language's are golang and Typescript, I hope to spread this technologies to everyone.
            P.lead No one takes data more seriously then I do, I have an extensive knowledge of more traditional database technologies such as mySQL, SQlite and PostgreSQL. I'm also very interested in NoSQL databases this website's database is MongoDB which has an amazing driver for golang, mGO.
            div.header
                p.h3 Newest Blog Posts
                hr
            div#cards
                range .blog
                    div.card
                        div.card-img-top(style="height: 150px; background: url(/post/{{.URL}}/images/{{.BlogImage}})center center no-repeat; background-size: cover;")
                             h4.card-title= .Title 
                        div.card-block 
                            p.body {{.Summary}}
                            p.small By: {{.Author.FullName}}
                            div.end
                                a.btn.btn-primary(href=/post/{{.URL}}) Read More