extends ../layouts/application.pug
block main
    div.jumbotron
        h1.display-1
            b 
                span.lang 
            b DEVELOPER
        i.fa.fa-wa.fa-angle-double-down.fa-4x.animated.bounce
    div.container-fluid
        h1 Gentry Rolofson
        div.container
            P console.log("Backend Powered by: Go version 1.7");
            p console.log("Javascript Preprocessor: kobraScript");
            p console.log("Frontend by: Bootstrap");
            P console.log("Templated by: Pug.Js");
            P console.log("Styled by: SCSS");
            p console.log("Developed by: Gentry Rolofson");
            p console.log("Don't let your dreams be memes");
            p {{.Name}}
