// Still ADD
.card-img-top{
    display: flex;
    align-items: flex-end;
}
.card{
    min-height: 15em!important;
    display: flex!important;
    flex-direction: column;
}
.card-title{
    color: white;
    font-weight: 600;
    font-size: 1.4em;
    background: rgba(0,0,0,0.5);
    background: linear-gradient(to top, rgba(0,0,0,0.9),rgba(0,0,0,0.0));
    padding-left: 0.5em;
    width: 100%;
    margin-bottom: 0rem;
}
.card-block{
    flex-grow: 1;
}

main{
      padding-top: 0px;
}
.end {
    padding-top: 20px;
    margin-top: 20px;
}

.jumbotron {
  align-items: center;
  background: linear-gradient(to left, #02AAB0 , #00CDAC);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 95vh;
  h1 {
    text-align: center;
    .lang {
      text-transform: uppercase;
    }
  }
}

/*
 * Animation for webkit
*/
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}


// Adding the animation to our element

.bounce {
  animation-name: bounce;
}