doctype html
html(lang="en")
  head
    block title
      title My Application
      
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' type="text/css" href='/static/assets/stylesheets/application.css')
    link(rel='stylesheet' type="text/css" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet' type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
    link(rel='stylesheet' type="text/css" href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css')
    link(rel="icon" type="image/png" href="/static/assets/images/favicon.png")
    script(src='https://code.jquery.com/jquery-3.1.0.min.js' integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous")
    script(src='/static/assets/scripts/application.js')
  body
    header
      nav.navbar.navbar-default.navbar-fixed-top
        div.container-fluid
          div.navbar-header
            a.navbar-brand(href="/") Gentry Rolofson
            button.btn.btn-default.navbar-toggle.collapsed(data-toggle='collapse', data-target='.navbar-collapse', aria-expanded='false'): i.fa.fa-bars.fa-fw
          ul#nav-content.nav.navbar-nav.navbar-right.collapse.navbar-collapse
            li: a(href="/projects") Projects
            li: a(href="/about") About Me
            li: a(href="/posts") Blog
            li 
              form.navbar-form.navbar-right(role="search", method="get", action="/posts/")
                div.form-group.shrinking#searching: input.form-control(type="text", name="search",autocomplete="off", placeholder="Search...")
                div.btn.btn-default(onclick="shrinker()"): i.fa-search.fa
    range ParseFlashes .flashes
      div(class="flash alert alert-dismissible alert-{{.Type}}" style="display: none;")
        button(type="button" class="close" data-dismiss="alert") &times;
        strong {{.Message}}
    script $(function(){ $(".flash").slideToggle().delay(400+5000).slideToggle() }); console.log('Hiding Flash')
      //- p Header
    main
      block main-content
        p Your view is empty

    footer.well
      div.row
        div.col-sm-3
          div.col-xs-6
            h4 Resources
            ul.list-unstyled
              li: a(href="#") Privacy Policy
              li: a(href="#") Terms & Conditions
        div.col-sm-3
          div.col-xs-6
            h4 Social Media
            ul.list-unstyled
              li
                i.fa.fa-fw.fa-facebook-official
                a(href="https://www.facebook.com/gentry.miller.1") Facebook
              li
                i.fa.fa-fw.fa-twitter-square
                a(href="https://twitter.com/xDarkicex") Twitter
              li 
                i.fa.fa-fw.fa-linkedin-square
                a(href="https://www.linkedin.com/in/gentry-rolofson-b0752032") Linkedin
              li
                i.fa.fa-fw.fa-github
                a(href="https://github.com/xDarkicex") Github
              li
                i.fa.fa-fw.fa-flickr
                a(href="https://www.flickr.com/photos/129128612@N03/") flickr
        div.col-sm-6
          div
            h4 Contact Me
            div
              form(method="post", action="/contact", id="contactForm")
                div.form-group
                  label(for="title") Name
                  input.form-control(id="contactName" name="contactName" placeholder="Enter name..." autocomplete="off")
                div.form-group
                  label(for="title") Email
                  input.form-control(id="contactEmail" name="contactAddress" placeholder="Enter email..." autocomplete="off")
                div.form-group
                  label(for="body") Body
                  br
                  textarea(name="contactBody" id="bodyArea" class="form-control" style="min-width: 100%")
                input.btn.btn-primary(type="submit")
      div  
        div.row   
          div.col-md-6
            if .current_user
              if .current_user.Admin
                p= printf "Hello %s" .current_user.Name
                p.badge Admin
              else
                p= printf "Hello %q" .current_user.Name
                p.badge User
              br
              a(href= /signout) Sign Out
            else
              a(href= /signin) Sign in
        div.row
          div.col-lg-12
            p.text-muted.pull-right Copyright := Gentry.Rolofson(2016)
    script(src='/static/assets/javascripts/tether.min.js')
    script(src='/static/assets/javascripts/bootstrap.min.js')
    if .view
      script(src= /static/assets/scripts/{{.view}}.js) 
      link(rel='stylesheet' type="text/css" href= /static/assets/stylesheets/{{.view}}.css)