doctype html
html(lang="en")
  head
    block title
      title My Application
    block extra-header
    link(rel='stylesheet',type="text/css",href='/static/assets/stylesheets/application.css')
    link(rel='stylesheet',type="text/css",href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet',type="text/css",href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet',type="text/css",href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.1.0.min.js', integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin="anonymous")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    //- script(src='/static/assets/javascripts/page-accelerator.min.js')


    script(src='/static/assets/scripts/application.js')
    
  body
    header
      nav.navbar.navbar-default.navbar-fixed-top
        div.container-fluid
          div.navbar-header
            a.navbar-brand(href="/")
            button.btn.btn-default.navbar-toggle.collapsed(data-toggle='collapse')
              i.fa.fa-bars.fa-fw
          ul#nav-content.nav.navbar-nav.navbar-right.collapse.navbar-collapse
            li
              a(href="/examples") Examples
            li
              a(href="/about") About Me
            li
              a(href="/posts") Blog
      //- p Header
    main 
      block main
        p Your view is empty
    footer.well
      div.row
        div.col-sm-6
          div.col-xs-6
            h4 Resources
            ul.list-unstyled
              li
                a(href="#") Privacy Policy
              li
                a(href="#") Terms & Conditions
        div.col-sm-6
          div.col-xs-6
            h4 Social Media
            ul.list-unstyled
              li
                i.fa.fa-fw.fa-facebook-official
                a(href="https://www.facebook.com/gentry.miller.1") Facebook
              li
                i.fa.fa-fw.fa-twitter-square
                a(href="https://twitter.com/xDarkicex") Twitter
              li 
                i.fa.fa-fw.fa-linkedin-square
                a(href="https://www.linkedin.com/in/gentry-rolofson-b0752032") Linkedin
              li
                i.fa.fa-fw.fa-github
                a(href="https://github.com/xDarkicex") Github
              li
                i.fa.fa-fw.fa-flickr
                a(href="https://www.flickr.com/photos/129128612@N03/") flickr
      div  
        div.row   
          div.col-md-6
            if UserID == null
              a(href='/signin') Sign in
            else
              a(href='/signout') Sign Out
          div.col-md-6
            p.text-muted.pull-right Copyright := Gentry.Rolofson(2016)