doctype html
html(lang="en")
  head
    block title
      title My Application
    block extra-header
  body
    header
      p Header
    main 
      block main
        p Your view is empty
    footer
      p Footer